/* hero section */
h1 {
    color: blue;
}

/* hero section - image */
#hero-img {
    width: 200px;
    height: 200px;
    background-color: #ff6347;
    border-radius: 50%;    
    margin: 100px auto;
  }

#hero-img:hover {
    animation: rotate 3s infinite linear;
  } 

  @keyframes rotate {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }